filmy.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:element name="filmy" type="filmyType"/>
	<xsd:complexType name="filmyType">
		<xsd:sequence>
			<xsd:element name="filmy" minOccurs="1" maxOccurs="unbounded" type="filmType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="filmType">
		<xsd:sequence>
			<xsd:element name="nazov" type="xsd:string"/>
			<xsd:element name="rok" type="xsd:integer"/>
			<xsd:element name="dlzka_filmu" type="xsd:time"/>
			</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
